/* 
    Vol theme
    Lydia SG
    11/5/19
*/

:root 
{
	--background-color: #58595B;
	--page-background: #58595B;
	--text-color: #FFFFFF;
	--panel-color: #FF8200;
	--color-alpha: #FFFFFF;
	--hr-line:rgb(10,10,10,0.3);
	--nav-color: #FF8200;;
}